<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Chat</title>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
  </head>
<body>
    <div id="messages"></div>

    {{ range . }}
        <div>{{ . }}</div>
    {{ end }}

    <form id="messageForm" hx-post="/find-match/">
        <button type="submit">Ranked Set</button>
    </form>
    <script>
      const socket = new WebSocket('ws://localhost:8080/ws');

      // on login send the data to the server
      socket.onopen = () => {
        console.log('WebSocket is open now.');
        const data = JSON.parse(JSON.stringify({ message: 'Hello from client!' }));
        socket.send(data);
      };
  </script>

</body>
</html>
